# --- IDE Settings ---
.idea/
.eclipse/
.classpath
.project
*.iml
.vscode/

# --- Build Files ---
target/
out/
build/

# --- System Files ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Logs ---
logs/
*.txt


# --- Build Tools ---
.gradle/
.m2/